In [2]:
import pandas as pd

In [5]:
df_1 = pd.read_csv('../datas/ECOLAB_4/test/C1.csv')
df_2 = pd.read_csv('../datas/ECOLAB_4/test/C2.csv')
df_3 = pd.read_csv('../datas/ECOLAB_4/test/C3.csv')
df_4 = pd.read_csv('../datas/ECOLAB_4/test/C4.csv' , low_memory=False)

In [6]:
df_4['datatime']

0         2025-02-05 01:00:00
1         2025-02-05 01:00:15
2         2025-02-05 01:00:16
3         2025-02-05 01:00:45
4         2025-02-05 01:00:46
                 ...
213865    2025-03-18 15:13:15
213866    2025-03-18 15:13:44
213867    2025-03-18 15:13:45
213868    2025-03-18 15:14:14
213869    2025-03-18 15:14:15
Name: datatime, Length: 213870, dtype: object

In [7]:
df_1_cols = df_1.drop(columns='datatime').columns
for col in df_1_cols:
    df_1[f'{col}_C1'] = df_1[col]
df_1 = df_1.drop(columns=df_1_cols)

In [9]:
df_1['datatime']

0        2025-07-04 10:34:08
1        2025-07-04 10:34:28
2        2025-07-04 10:34:52
3        2025-07-04 10:35:54
4        2025-07-04 10:36:59
                ...
16839    2025-07-08 13:30:47
16840    2025-07-08 13:31:17
16841    2025-07-08 13:31:47
16842    2025-07-08 13:32:17
16843    2025-07-08 13:32:47
Name: datatime, Length: 16844, dtype: object

In [10]:
df_2_cols = df_2.drop(columns='datatime').columns
for col in df_2_cols:
    df_2[f'{col}_C2'] = df_2[col]
df_2 = df_2.drop(columns=df_2_cols)

In [11]:
df_3_cols = df_3.drop(columns='datatime').columns
for col in df_3_cols:
    df_3[f'{col}_C3'] = df_3[col]
df_3 = df_3.drop(columns=df_3_cols)

In [12]:
df_4_cols = df_4.drop(columns='datatime').columns
for col in df_4_cols:
    df_4[f'{col}_C4'] = df_4[col]
df_4 = df_4.drop(columns=df_4_cols)

In [13]:
import pandas as pd
from functools import reduce

dfs = [df_1, df_2, df_3, df_4]

df_merged = reduce(lambda left, right: pd.merge(left, right, on='datatime', how='outer'), dfs)

df_merged = df_merged.sort_values('datatime')

df_merged = df_merged.ffill()

df_merged = df_merged.reset_index(drop=True)

print(df_merged)

                   datatime  Unnamed: 0_C1  CONSIGNE_ROTATION [I]_C1  \
0       2025-02-05 01:00:00            NaN                       NaN
1       2025-02-05 01:00:15            NaN                       NaN
2       2025-02-05 01:00:16            NaN                       NaN
3       2025-02-05 01:00:45            NaN                       NaN
4       2025-02-05 01:00:46            NaN                       NaN
...                     ...            ...                       ...
230719  2025-07-08 13:35:17        16843.0                       0.0
230720  2025-07-08 13:35:47        16843.0                       0.0
230721  2025-07-08 13:36:17        16843.0                       0.0
230722  2025-07-08 13:36:47        16843.0                       0.0
230723  2025-07-08 13:37:17        16843.0                       0.0

        CONSIGNE_ECLAIRAGE [I]_C1  CONSIGNE_TEMP_FOND [R]_C1  \
0                             NaN                        NaN
1                             NaN                        NaN
2                             NaN                        NaN
3                             NaN                        NaN
4                             NaN                        NaN
...                           ...                        ...
230719                        0.0                       23.0
230720                        0.0                       23.0
230721                        0.0                       23.0
230722                        0.0                       23.0
230723                        0.0                       23.0

       TEMPERATURE_REPRISE [R]_C1  CONSIGNE_VENTILATION [I]_C1  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN
...                           ...                          ...
230719                       23,4                         60.0
230720                       23,4                         60.0
230721                       23,4                         60.0
230722                       23,4                         60.0
230723                       23,4                         60.0

        HYGROMETRIE_CONSIGNE [I]_C1  TEMPERATURE_CONSIGNE [R]_C1  \
0                               NaN                          NaN
1                               NaN                          NaN
2                               NaN                          NaN
3                               NaN                          NaN
4                               NaN                          NaN
...                             ...                          ...
230719                         80.0                         23.0
230720                         80.0                         23.0
230721                         80.0                         23.0
230722                         80.0                         23.0
230723                         80.0                         23.0

        HYGROMETRIE_SOUFFLAGE [R]_C1  ... TEMPERATURE_SOUFFLAGE [R]_C3  \
0                                NaN  ...                          NaN
1                                NaN  ...                          NaN
2                                NaN  ...                          NaN
3                                NaN  ...                          NaN
4                                NaN  ...                          NaN
...                              ...  ...                          ...
230719                          40.0  ...                         23,6
230720                          40.0  ...                         23,6
230721                          40.0  ...                         23,6
230722                          40.0  ...                         23,6
230723                          40.0  ...                         23,6

        Unnamed: 0_C4 TEMPERATURE_MEG_FROID [R]_C4  \
0                 0.0                   -5,8000002
1                 1.0                   -5,8000002
2                 2.0                   -5,8000002
3                 3.0                   -5,8000002
4                 4.0                   -5,8000002
...               ...                          ...
230719       213869.0                   -4,1999998
230720       213869.0                   -4,1999998
230721       213869.0                   -4,1999998
230722       213869.0                   -4,1999998
230723       213869.0                   -4,1999998

        TEMPERATURE_MEG_CHAUD [R]_C4  BP_R134_EN_BARS [R]_C4  \
0                                 45               1,3361666
1                                 45               1,3361666
2                                 45               1,3361666
3                                 45               1,3361666
4                                 45               1,3361666
...                              ...                     ...
230719                      32,70000            0,0059999824
230720                      32,70000            0,0059999824
230721                      32,70000            0,0059999824
230722                      32,70000            0,0059999824
230723                      32,70000            0,0059999824

        BP_R134_EN_DEGRES [R]_C4 CONSIGNE_BALLON_FROID [R]_C4  \
0                     -6,0422668                         -6.0
1                     -6,0422668                         -6.0
2                     -6,0422668                         -6.0
3                     -6,0422668                         -6.0
4                     -6,0422668                         -6.0
...                          ...                          ...
230719                -26,445801                        -10.0
230720                -26,445801                        -10.0
230721                -26,445801                        -10.0
230722                -26,445801                        -10.0
230723                -26,445801                        -10.0

        CONSIGNE_BALLON_CHAUD [R]_C4  HP_R134_EN_BARS [R]_C4  \
0                               45.0                    2,22
1                               45.0                    2,22
2                               45.0                    2,22
3                               45.0                    2,22
4                               45.0                    2,22
...                              ...                     ...
230719                          45.0                   0,035
230720                          45.0                   0,035
230721                          45.0                   0,035
230722                          45.0                   0,035
230723                          45.0                   0,035

        HP_R134_EN_DEGRES [R]_C4
0                      2,5189381
1                      2,5189381
2                      2,5189381
3                      2,5189381
4                      2,5189381
...                          ...
230719                -24,419168
230720                -24,419168
230721                -24,419168
230722                -24,419168
230723                -24,419168

[230724 rows x 41 columns]

In [14]:
df_merged.to_csv('../datas/ECOLAB_4/test/E4_all.csv', index=False)